<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Search Bar</title>
<link rel="stylesheet" type="text/css" href="Search-Box/input.css">
<link rel="stylesheet" type="text/css" href="barBread/barbread.css">
<link rel="stylesheet" type="text/css" href="dropdown/dropdown.css">
<link rel="stylesheet" type="text/css" href="searchBar.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
<script src="Search-Box/input.js" type="module"></script>
<script src="dropdown/dropdown.js" type="module"></script>
<script src="barBread/barbread.js" type="module"></script>
<script src="searchBar.js" type="module"></script>
<script src="js/index.js" type="module"></script>