<div class=flexContainer0>
    <div class="flexContainer1">
        <div class="flexcontainer2 ">
            <div class="flexItem ">
                <div class="searchContainer">
                    <div class="searchDiv">
                        <input type="text" size="20" class="search" id="Search-Area">
                        <button class="searchButton" id="Search-Button">Search</button>
                    </div>
                </div>
            </div>
            <div class="flexItem ">
                <a href="/home" class="nostyle">Home</a>
            </div>
            <div class="flexItem hiding-item">
                <div class="dropdown-drawer">
                    <div class="Dropdown-container">
                        <div class="dropdown" id="Search-Title">Search in Title</div>
                        <button class="dropdownlogo">
                            <div class="dropdownimage"></div>
                        </button>
                    </div>
                    <div class="drawer-item">Search in Author</div>
                    <div class="drawer-item">Search in Date</div>
                </div>
            </div>
            <div class="flexItem hiding-item">
                <div class="dropdown-drawer">
                    <div class="Dropdown-container">
                        <div class="dropdown" id="Search-Sort">Sort Ascending</div>
                        <button class="dropdownlogo">
                            <div class="dropdownimage"></div>
                        </button>
                    </div>
                    <div class="drawer-item">Sort Descending</div>
                </div>
            </div>
            <div class="flexItem hiding-item ">
                Menu
            </div>
        </div>
        <div class="flexcontainer2 ">
            <div class="flexItem hiding-item ">
                GoTo
            </div>
            <div class="flexItem hiding-item ">
                Contact Us
            </div>
            <div class="flexItem hiding-icon ">
                <div class="bread-Container">
                    <div class="bread-content"></div>
                    <div class="bread-content"></div>
                    <div class="bread-content"></div>
                </div>
            </div>
        </div>
    </div>
</div>