doctype html 
html 
    head 
        include ./components/head.html
        title All books at on page 
    body
        include ./components/searchBar.html
        div(class="center")
            h1(class="center-element") Kitab Nepal Ma 
        p We sell all types of book wth delivery option as fast as possible. Please search the book you want . We have better availability of books written by foreign writers.